.boton_menu {
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	height: 25px;
	width: 25px;
}

/*-- boton_barra --*/

.boton_menu .boton {
	display: block;
	width: 30px;
	height: 20px;
	position: absolute;
	z-index: 20;
}

.boton_menu .boton span {
	position: absolute;
	height: 2px;
	background-color: #fff;
	transition: 0.25s ease-in-out;
}

.boton_menu .boton span:nth-child(1) {
	top: 0;
}

.boton_menu .boton span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

.boton_menu .boton span:nth-child(3) {
	bottom: 0;
}

/*-- fin_de_boton_barra --*/

/*-- animacion_de_boton_barra --*/

#menu-toggle {
	display: none;
}

#menu-toggle:checked + .boton_menu .boton span {
	width: 0px;
	transition-delay: 0s;
}

#menu-toggle:checked + .boton_menu .boton span:nth-child(2) {
	transition-delay: 0.125s;
}

#menu-toggle:checked + .boton_menu .boton span:nth-child(3) {
	transition-delay: 0.25s;
}

#menu-toggle:not(:checked) + .boton_menu .boton span {
	width: 100%;
	transition-delay: 0.5s;
}

#menu-toggle:not(:checked) + .boton_menu .boton span:nth-child(2) {
	transition-delay: 0.625s;
}

#menu-toggle:not(:checked) + .boton_menu .boton span:nth-child(3) {
	transition-delay: 0.75s;
}

/*-- fin_de_animacion_de_boton_barra --*/

/*--boton_equis--*/

.boton_menu .boton_equis {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
}

.boton_menu .boton_equis span {
	position: absolute;
	background-color: #000;
	transition: 0.25s ease-in-out;
}

.boton_menu .boton_equis span:nth-child(1) {
	left: 50%;
	transform: translateX(-50%);
	width: 2px;
}

.boton_menu .boton_equis span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
	height: 2px;
}

/*-- fin_de_boton_equis --*/

/*-- animacion_de_boton_equis --*/

#menu-toggle:checked + .boton_menu .boton_equis span:nth-child(1) {
	height: 100%;
	transition-delay: 0.625s;
}

#menu-toggle:checked + .boton_menu .boton_equis span:nth-child(2) {
	width: 100%;
	transition-delay: 0.375s;
}

#menu-toggle:not(:checked) + .boton_menu .boton_equis span:nth-child(1) {
	height: 0px;
	transition-delay: 0s;
}

#menu-toggle:not(:checked) + .boton_menu .boton_equis span:nth-child(2) {
	width: 0px;
	transition-delay: 0.25s;
}

/*-- fin_de_animacion_de_boton_equis --*/
